services:
  mariadb:
    build: ./requirements/mariadb
    container_name: mariadb
    env_file:
      - .env
    networks:
      - inception
    restart: always
  wordpress:
    build: ./requirements/wordpress
    depends_on:
      - mariadb
    networks:
      - inception
  nginx:
    build: ./requirements/nginx
    ports:
      -"443:443"
    depends_on:
      - wordpress
    networks:
      - inception

