services:
  mariadb:
    build: ./requirements/mariadb
    container_name: mariadb
    image: mariadb:inception
    env_file:
      - .env
    volumes:
      - /home/tkerroum/data/mariadb:/var/lib/mysql
    networks:
      - inception
    restart: always

  wordpress:
    build: ./requirements/wordpress
    container_name: wordpress
    image: wordpress:inception
    env_file:
      - .env
    volumes:
      - /home/tkerroum/data/wordpress:/var/www/html
    networks:
      - inception
    restart: always
    depends_on:
      - mariadb

  nginx:
    build: ./requirements/nginx
    image: nginx:inception
    container_name: nginx
    ports:
      - "443:443"
    volumes:
      - /home/tkerroum/data/wordpress:/var/www/html
    networks:
      - inception
    restart: always
    depends_on:
      - wordpress

networks:
  inception:
  